*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: green;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 10px 80px;
}

.logo{
    font-weight: bold;
    color: white;
  
}

.nav-menu ul{
    display: flex;
    list-style-type: none;
    color: white;
  
}

.nav-menu li{
    margin-right: 80px;   
}

.nav-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.onclick:hover{
    color: gold;
}